@model MvcApplication4.Models.ViewModelDemo
@{
    ViewBag.Title = "ViewModelDemo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h2>ViewModelDemo</h2>
<select>
@*Iterating Employee ViewModel *@
@foreach (var item in Model.allEmployees)
    {        
        <option>@item.EmpName</option>           
    } 
</select>         
 
<select>
@*Iterating Courses ViewModel *@
@foreach (var item in Model.allCourses)
    {        
        <option>@item.CourseName</option>           
    } 
</select>  
 
<select>
@*Iterating Department ViewModel *@
@foreach (var item in Model.allDepartments)
    {        
        <option>@item.DepName</option>           
    } 
</select> 
