@model  IEnumerable<MvcApplication4.Models.Course>
 <table>
         <tr>
         <th  style="width:60px;">Course Code</th>
         <th>Course Name </th>
         </tr>
    @foreach (var item in Model)
    {
          <tr>
             <td>@item.CourseCode </td>
             <td>@item.CourseName </td>
         </tr>
    }      
 </table>