@model  IEnumerable<MvcApplication4.Models.Department>
 <table>
         <tr>
         <th  style="width:120px;">Department Code</th>
         <th>Department Name </th>
         </tr>
    @foreach (var item in Model)
    {
          <tr>
             <td>@item.DepCode </td>
             <td>@item.DepName </td>
         </tr>
    }      
 </table>