@media only screen and (max-width: 550px) {
    .bg-text {
        top: 60px;
    }
}

@media only screen and (min-width: 550px) {
    .bg-text {
        top: 67px;
    }
}

@media only screen and (min-width: 600px) {
    .bg-text {
        top: 75px;
    }
}

@media only screen and (min-width: 650px) {
    .bg-text {
        top: 83px;
    }
}

@media only screen and (min-width: 700px) {
    .bg-text {
        top: 90px;
    }
}

@media only screen and (min-width: 750px) {
    .bg-text {
        top: 98px;
    }
}

@media only screen and (min-width: 800px) {
    .bg-text {
        top: 106px;
    }
}

@media only screen and (min-width: 850px) {
    .bg-text {
        top: 113px;
    }
}

@media only screen and (min-width: 900px) {
    .bg-text {
        top: 121px;
    }
}

@media only screen and (min-width: 950px) {
    .bg-text {
        top: 128px;
    }
}

@media only screen and (min-width: 1000px) {
    .bg-text {
        top: 136px;
    }
}

@media only screen and (min-width: 1050px) {
    .bg-text {
        top: 144px;
    }
}

@media only screen and (min-width: 1100px) {
    .bg-text {
        top: 151px;
    }
}

@media only screen and (min-width: 1150px) {
    .bg-text {
        top: 159px;
    }
}

@media only screen and (min-width: 1200px) {
    .bg-text {
        top: 166px;
    }
}

@media only screen and (min-width: 1250px) {
    .bg-text {
        top: 174px;
    }
}

@media only screen and (min-width: 1300px) {
    .bg-text {
        top: 182px;
    }
}

@media only screen and (min-width: 1350px) {
    .bg-text {
        top: 189px;
    }
}

@media only screen and (min-width: 1400px) {
    .bg-text {
        top: 197px;
    }
}

@media only screen and (min-width: 1450px) {
    .bg-text {
        top: 204px;
    }
}

@media only screen and (min-width: 1500px) {
    .bg-text {
        top: 212px;
    }
}

@media only screen and (min-width: 1550px) {
    .bg-text {
        top: 220px;
    }
}

@media only screen and (min-width: 1600px) {
    .bg-text {
        top: 227px;
    }
}

@media only screen and (min-width: 1650px) {
    .bg-text {
        top: 235px;
    }
}

@media only screen and (min-width: 1700px) {
    .bg-text {
        top: 242px;
    }
}

@media only screen and (min-width: 1750px) {
    .bg-text {
        top: 250px;
    }
}

@media only screen and (min-width: 1800px) {
    .bg-text {
        top: 258px;
    }
}

@media only screen and (min-width: 1850px) {
    .bg-text {
        top: 265px;
    }
}

@media only screen and (min-width: 1900px) {
    .bg-text {
        top: 273px;
    }
}

@media only screen and (min-width: 1950px) {
    .bg-text {
        top: 281px;
    }
}

@media only screen and (min-width: 2000px) {
    .bg-text {
        top: 288px;
    }
}

@media only screen and (min-width: 2050px) {
    .bg-text {
        top: 296px;
    }
}

@media only screen and (min-width: 2100px) {
    .bg-text {
        top: 303px;
    }
}

@media only screen and (min-width: 2150px) {
    .bg-text {
        top: 311px;
    }
}
